<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'admin/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'admin/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'admin/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'admin/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'admin/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'admin/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.1.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="adminhome" class="logo d-flex align-items-center">

        <span class="d-none d-lg-block">Company</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <!-- End Search Bar -->


    <style>
       .dropdown{
       padding-left: 838px;

      }
    </style>
    <!-- End Notification Dropdown Items -->
    <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Logout/privacy
      </button>
      
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="{% url 'Logout' %}">Logout</a></li>
        <li><a class="dropdown-item" href="{% url 'privacy' %}">Privacy</a></li>
      </ul>
    </div>


    <!-- End Notification Nav -->


    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="#">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Manage Job</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'add_jobs' %}">
              <i class="bi bi-circle"></i><span>Add Jobs</span>
            </a>
          </li>
          <li>
            <a href="{% url 'edit_jobs' %}">
              <i class="bi bi-circle"></i><span>Job List</span>
            </a>
          </li>

          <li>
            <a href="{% url 'approve_listjobs' %}">
              <i class="bi bi-circle"></i><span>Approved job List</span>
            </a>
          </li>
          
        </ul>
      
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-menu-button-wide"></i><span>Applicants</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="{% url 'list_applicants' %}">
                <i class="bi bi-circle"></i><span>Applicants List</span>
              </a>
            </li>
          
      
          </ul>
        
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-menu-button-wide"></i><span>Complaints</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href="{% url 'company_feedback' %}">
                  <i class="bi bi-circle"></i><span>Send Complaints</span>
                </a>
              </li>


              <li>
            <a href="{% url 'candidate_complaint' %}">
              <i class="bi bi-circle"></i><span>Candidate Complaints</span>
            </a>
          </li>
          
      
        </ul>



  </aside><!-- End Sidebar-->
  <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">


    </div>
    {% block content %}

    {% endblock %}

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'admin/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'admin/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'admin/vendor/quill/quill.min.js' %}"></script>
    <script src="{% static 'admin/vendor/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'admin/vendor/simple-datatables/simple-datatables.js' %}"></script>
    <script src="{% static 'admin/vendor/chart.js/chart.min.js' %}"></script>
    <script src="{% static 'admin/vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'admin/vendor/echarts/echarts.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'admin/js/main.js' %}"></script>
    <script language="javascript">
      var today = new Date();
      var dd = String(today.getDate()).padStart(2, '0');
      var mm = String(today.getMonth() + 1).padStart(2, '0');
      var yyyy = today.getFullYear();

      today = yyyy + '-' + mm + '-' + dd;
      $('#date_picker').attr('min',today);
  </script>

</body>

</html>