{% extends "adminhome.html" %}
{% load static %}
{% block content %}



<section id="main-content" style="min-height: 93vh">
    <section class="wrapper">
      <h3>List job</h3>
      <div class="row mt">
        <div class="col-lg-10">
          <div class="content-panel" style="padding: 10px 10px;">
  
            <section id="unseen">
              <table class="table table-bordered table-striped table-condensed" style="width:100%;">
                <thead>
                  <br>
                  <tr>
                    <th>Sl:No</th>
  
                    <th>Job title</th>
                    <th>Role</th>
                    <th>Designation</th>
                    <th>Qualification</th>
  
                    <th>Experience</th>
                    <th>Experience in</th>
                    <th>Salary</th>
                    <th>Cutoff</th>
                    <th>Examschedule</th>
                    <th>Location</th>
                    <th>Question Count</th>
                    <th>Action</th>

                  </tr>
                </thead>
                <tbody>








{% endblock %}