{% extends role %}
{% load static %}
{% block content %}
<script>function val(x)
    {
    
            if(x.t2.value!=x.t3.value)
            {n
                alert('password missmatch');
                x.t2.focus();
                x.t2.value="";
                x.t3.value="";
                return false
            }
    
    }</script>

	  <section id="main-content" style="min-height: 93vh">
        <section class="wrapper">
            <h3 class="padd">Change Password</h3>
            <div class="padd" class="row mt">
                <div class="col-lg-12">
                <div class="form-panel">
                    <form method="post" action="{% url 'privacy' %}" onsubmit="return val(this)"  action="" style="padding: 30px 20px">
                        {% csrf_token %}
                      <input type="hidden"  name="id" value="">
                       <div class="form-group" >
                            <label class="col-sm-2 col-sm-2 control-label">Old Password</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" placeholder="Enter old Password" name="t1">
                            </div>
                        </div><br>
                        <div class="form-group" >
                            <label class="col-sm-2 col-sm-2 control-label">New Password</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" placeholder="Enter New Password" name="t2" required minlength="4">
                            </div>
                        </div><br>
                         <div class="form-group" >
                            <label class="col-sm-2 col-sm-2 control-label">Verify New Password</label>
                            <div class="col-sm-4">
                            <input type="password" placeholder="Confirm New Password" name="cnewpassword" class="form-control" required>
                            </div>
                        </div><br>
                        <button  type="submit"   name="submit"class="btn btn-danger">Submit</button>
                       </form>
                </div>
                </div>				
            </div>
            <style>
                .padd{
                    padding-left: 110px;
                }

               
            </style>
          </section>
          </section>
          {% endblock %}
